-# vim: set wrap lbr:
- content_for(:title) { 'Williams/Burns Wedding' }

%h1.center
  Ava and Nick are still married!

%img.center-image{src: image_path('rain.jpeg')}
%img.footer.center-image{src: image_path('emblem.png')}
