-# vim: set wrap lbr:
- content_for(:title) { 'Williams/Burns Wedding' }

%h1.center
  Ava and Nick are getting married!

%p.center
  Join us in Eagle River, Alaska for a backyard picnic wedding! The ceremony will be held at the home of Roy & Tito Williams (Ava’s grandparents), followed by a cake, punch & appetizer reception.


%img.center-image{src: image_path('rain.jpeg')}

%header{style: "padding-top: 5%;"}
  %nav
    %ul
      %li
        %h3
          %a{href: '#date'}
            Date & Location

      %li.sep

      %li
        %h3
          %a{href: '#rsvp'}
            RSVP

      %li.sep

      %li
        %h3
          %a{href: '#travel'}
            Travel & Accommodations

      %li.sep

      %li
        %h3
          %a{href: '#schedule'}
            Schedule


%h2
  %a{id: :date}
    Date & Location

%p
  July 20, 2019

%p
  Eagle River, Alaska

%h2
  %a{id: :rsvp}
    RSVP

%p
  Please RSVP (preferably by May 20) by filling out
  %a{href: '/rsvp'}
    this form.
  If you have any questions, please email us at
  %a{href: 'mailto:avaandnick2019@gmail.com?subject=RSVP+Question'}
    avaandnick2019@gmail.com.

%p
  Paper invitations to come!


%h2
  %a{id: :travel}
    Travel & Accommodations
%p
  Unless you're driving the AlCan, out-of-towners will fly in to the Ted Stevens Anchorage International Airport (ANC). We suggest you start looking for tickets as soon as possible, since July is a popular tourist month!

  %p
  How do you get around once you're here? We highly recommend you rent a vehicle--something you can do right from the airport--or carpool with a friend. Cars are the #1 way to get around in Alaska.

%p
  Eagle River has a nice variety of Airbnb and VRBO listings, along with a few hotels and B&Bs. It’s also just 25 minutes away from Anchorage (the BIG city), where you'll find an abundance of hotels.

%h2
  %a{id: :schedule}
    Schedule
%p
  Here’s a brief outline of the wedding weekend:

  %h3
    Friday, July 19th
  %p
    Rehearsal & rehearsal dinner for the wedding party Friday evening.

  %h3
    Saturday, July 20th
  %p
    The wedding and reception will be held in the evening at the home of Roy & Tito Williams (Ava’s grandparents).

  %h3
    Sunday, July 21st through Tuesday, July 23rd

  %p
    We've reserved two large group sites at
    %a{href: "http://dnr.alaska.gov/parks/aspunits/chugach/eklutnalkcamp.htm"} Eklutna Lake Campground.
    Guests are welcome to stay one or both nights or spend the days at Eklutna. There’s a glacial lake, excellent trails, bike rentals, kayak rentals, and a beautiful (slightly difficult) hike.

    This will be a bring-your-own-food/tent event, but if you have any questions or need to borrow something, let us know and we might be able to help!

%p{style: 'margin-top: 5rem;'}
  %strong
    Check back soon for registry, things to do, and other information! If you have any questions, please email
    %a{href: 'mailto:avaandnick2019@gmail.com?subject=Wedding+Question'}
      avaandnick2019@gmail.com.
    Paper invitations to come.
