- content_for(:title) { 'Wedding Announcement' }

%h1
  Ava and Nick are getting married!

%p
  Save-the-Dates will be sent soon. 😉

%img{class: 'hover-change',
  src: image_path('pointing.jpg'),
  'data-hover': image_path('pointing.gif')}

:javascript
  $('.hover-change').each(function() {
    var elem = $(this)
    var hoverSrc = elem.data('hover')
    var src = elem.attr('src')

    console.log({this: this, hoverSrc, src})

    function handleIn() {
      $(this).attr('src', hoverSrc)
    }

    function handleOut() {
      $(this).attr('src', src)
    }

    elem.hover(handleIn, handleOut)

  })
