- content_for(:title) { 'Location' }

- map_url = "https://www.openstreetmap.org/export/embed.html?bbox=-149.69043731689456%2C61.2723780818547%2C-149.43191528320315%2C61.35839880000805&amp;layer=mapnik"

%h1
  Location

%iframe{width: "425",
  height: "350",
  frameborder: "0",
  scrolling: "no",
  marginheight: "0",
  marginwidth: "0",
  src: map_url}

%p
  The ceremony and reception will be held in Ava's home town of
  %a{href: 'https://en.wikipedia.org/wiki/Eagle_River,_Anchorage'}
    Eagle River, AK
  on July 20, 2019.

%p
  That's
  %span{class: 'countdown'}
    ="-"
  days from now.

:javascript
  $('.countdown').each(function() {
    var weddingDate = moment('July 20, 2019')
    var today = moment(new Date())
    var daysUntil = weddingDate.diff(today, 'days')
    $(this).text(daysUntil)
  });


